
<nav class="navbar navbar-default">
  <div class="container-fluid">
     <ul class="nav navbar-nav">
         <li routerLinkActive="active"><a routerLink="books">Books</a></li>
    </ul>


      <div class="navbar-right">

        <p routerLinkActive="active" *ngIf="!isAuth"> <a routerLink="auth/signup">Create account</a></p>

        <p routerLinkActive="active" *ngIf="!isAuth"> <a routerLink="auth/signin">Sign In</a> </p>

        <p> <a (click)="onSignOut() "style="cursor:pointer" *ngIf="isAuth">Sign Out</a> </p>

      </div>

  </div>
</nav>




